.main-details-container {
    display: flex;
    width: 100%;
}

.container-details-left, .container-details-right {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-content: center;
}

.object-image {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin: 2% auto 1%;
}

.object-image img {
    max-width: 100%;
    max-height: 100%;
}

.container-details {
    width: 100%;
    margin: 2% auto;
    color: black;
}

.container-suggestions {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2% auto;
}

.container-card-suggestion {
    display: flex;
    width: 100%;
    height: 100%;
    align-content: space-between;
}

.container-date-ideas {
    width: 80%;
    margin: auto;
    height: 500px;
    background-color: sandybrown;
}

.container-map {
    width: 80%;
    margin: auto;
    height: 200px;
    background-color: brown;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-icon {
  width: 50px;
  height: 50px;
  border: 5px solid #fff;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.title-date {
    margin: 5% auto;
    padding: 2%;
    border: 1px solid #ccc;
}

.container-details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 80%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.column {
  flex: 1;
}

.columns-wrapper {
  display: flex;
}

.column p {
  margin-bottom: 10px;
}

.full-width {
  width: 100%;
}

.container-card-suggestion {
  position: relative;
  overflow: hidden;
}

.cards-container {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.card-suggest {
  width: 300px;
  height: 200px;
  margin: 2%;
    background-size: cover;

}

.slider-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 40px;
}

.rectangle-container {
    width: 80%;
    height: 300px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    overflow-y: scroll;
    margin: 10px auto 3% auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.rectangle-legends {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
    width: 100%;
}

.legend {
  font-weight: bold;
}

.selectable-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.selectable-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  background-color: #ffffff;
  transition: background-color 0.3s ease;
}

.selectable-item:hover {
  background-color: #e0e0e0;
}

.selectable-item.selected {
  background-color: #6ac47e;
  color: #fff;
}

.selectable-items {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
    width: 100%;
}

.name {
  flex-basis: 40%;
}

.type {
  flex-basis: 30%;
}

.location {

}

#map {
    width: 80%;
    margin: 2% auto 3% auto;
    height: 400px;
}
